<html>
  <body>
    <h1>Add a new message!</h1>
    <form method="POST" action="/new">
      <label for="name">name</label>
      <input type="text" id="name" name="userName" />

      <label for="text">text</label>
      <input type="text" id="text" name="messageText" />

      <button type="submit">submit</button>
    </form>
  </body>
</html>
