<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>

    
    <% for(let i = 0; i<messages.length; i++){ %>
        <ul>
            <li><%= messages[i].name  %></li>
            <li><%= messages[i].message  %></li>
            <a href="/<%= i %>">see details</a>
        </ul>
    <% } %>
    
    <a href="/new">add a message</a>
  </body>
</html>
