<html>
  <body>
    <ul>
      <li>user: <%= message.user %></li>
      <li>message: <%= message.text %></li>
      <li>date added: <%= message.added %></li>
    </ul>
    <a href="/">back</a>
  </body>
</html>
