<html>
  <body>
    <ul>
      <li>user: <%= message.name %></li>
      <li>message: <%= message.message %></li>
      <li>date added: <%= message.date %></li>
    </ul>
    <a href="/">back</a>
  </body>
</html>
